{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Section 1 -->
  <section>
    <div class="sct-1-row">
      <div class="content">
        <h1 class="title">
          Previdência de <br> 
          um <span style="color: #58CC04;">jeito fácil</span> <br>
          <span>
            e <span style="color: #FFCC00;">divertido.</span>
          </span> 
        </h1>
        <p class="desc"> <span>Aprenda, tire dúvidas, crie objetivos</span>  e <br> 
          forme seu patrimônio de um jeito <br> 
          descomplicado e divertido. 
        </p>
      </div>
      <div class="bg-sct-1" style="background: url({% static 'img/sct-1.png' %}) no-repeat right top fixed"></div>
    </div>
  </section>

  <!-- Start of ChatBot (www.chatbot.com) code -->
  <script type="text/javascript">
    window.__be = window.__be || {};
    window.__be.id = "5ed40f2964c2a50007bed24c";
    (function() {
        var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
        be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
    })();
  </script>
  <!-- End of ChatBot code -->
{% endblock content %}
